<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="logo">
                <img src="/static/images/Logo_tsk01.png" alt="" width="120px" height="50px">
            </div>
            {% if user.is_authenticated %}
            <p id="b3">{{request.user}}</p>
            <a href="{% url 'TaskAdding' %}"><button>Add Task</button></a>
            <a href="{% url 'user_dashbord' %}"><button>All Added Tasks</button></a>
            {% endif %}
            <a href="{% url 'homepage' %}"><button>Home</button></a>
            <a href="{% url 'Login_page' %}"><button>Login</button></a>
            <a href="{% url 'UserRegister' %}"><button>Register</button></a>
            <a href="{% url 'Logout_page' %}"><button>Logout</button></a>

        </div>
        <div class="content">
            {%block contents%}
            {%endblock%}

        </div>
        <div class="footer">
            <p>@task_manager</p>
        </div>
    </div>
    
</body>
</html>