{% extends 'base.html' %}
{% block contents %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/logout.css">
</head>
<body>
    <div class="logout_section">
        <div class="logout_card">
            <h4>Are You Sure Want to LOGOUT?</h4>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="YES">

            </form>
                <a href="{% url 'homepage' %}"><button>NO</button></a>
        </div>
    </div>
    
</body>
</html>
{% endblock %}
